.header {
    border-bottom: 1px solid rgba(25, 26, 21, 0.1);
    padding: 20px 0;
    background-color: #fbfbfb;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
} 

.logo {
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    color: #191a15;
}

.accent {
    color: #54be96;
}